body {
    background-color: #FFDFDF;
    background-image: linear-gradient(#e4e4f2);
    font-family: sans-serif;
}
header { 
    padding: 30px;
    color: #307e8c;
    font-size: 30px;
    border-bottom:5px solid ;}
    
.cabecalho { 
    display: flex;
    justify-content: space-around;}

 #titulo {
        color:#1F1717;
        font-size: 50px;
        text-align: center;}

    .paragrafo{
            color: #1F1717;
            font-size: 20px;
            font-size: 15px;
            text-align: justify;
        }